.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zt-main {
    margin: 0 auto;
    padding: 0;
    word-wrap: break-word;
    width: 98%;
}

.zt-conn-main {
    line-height: 35px;
    border-bottom: 1px solid;
}
