<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/xterm.css">
    <script src="assets/js/bootstrap.bundle.min.js" type="application/javascript"></script>
    <script src="assets/js/vue.min.js" type="application/javascript"></script>
    <script src="assets/js/xterm.js" type="application/javascript"></script>
    <title>Zero Terminal</title>
</head>
<body>

<div id="app">
    <div v-if="connectionList.length > 0"> --main-- </div>
    <div v-else class="card center" style="width: 50%;">
        <div class="card-body">
            <h5 class="card-title">创建/编辑 SSH连接</h5>
            <div class="card-text">
                <div class="input-group mt-4">
                    <label class="input-group-text" id="label-name" for="name">连接名称</label>
                    <input v-model="connection.name" type="text" class="form-control" id="name" placeholder="连接名称默认为连接地址">
                </div>
                <div class="d-flex mt-2">
                    <div class="input-group">
                        <label class="input-group-text" id="label-address" for="address">连接地址</label>
                        <input v-model="connection.address" type="text" class="form-control" id="address" placeholder="请输入连接地址">
                    </div>
                    <div class="input-group">
                        <label class="input-group-text" id="label-port" for="port">端口</label>
                        <input v-model="connection.port" type="text" class="form-control" id="port" placeholder="端口号默认为 22">
                    </div>
                </div>
                <div class="input-group mt-2">
                    <label class="input-group-text" id="label-username" for="username">用户名称</label>
                    <input v-model="connection.username" type="text" class="form-control" id="username" placeholder="请输入用户名">
                </div>
                <div class="input-group mt-2">
                    <label class="input-group-text" id="label-password" for="password">用户密码</label>
                    <input v-model="connection.password" type="password" class="form-control" id="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-light">取消</button>
                <button type="button" class="btn btn-primary" @click="saveConnection">保存</button>
            </div>
        </div>
    </div>
</div>

<script>
    const { ipcRenderer } = require('electron');

    new Vue({
        el: '#app',
        data: {
            connectionList: [],
            connection: {
                identity: "",
                name: "",
                address: "",
                port: "22",
                username: "",
                password: "",
            }
        },
        mounted() {},
        created() {
            this.initConnections();
        },
        methods: {
            initConnections() {
                ipcRenderer.invoke('getConnectionList').then((data) => {
                    if (data !== undefined) {
                        this.connectionList = data
                    }
                });
            },
            saveConnection() {
                if (this.connection.name === "") {
                    this.connection.name = this.connection.address
                }
                ipcRenderer.invoke('saveConnection', this.connection).then((res) => {
                    if (res.code === 200) {
                        this.initConnections();
                    }
                }).catch(e => {})
            }
        }
    })
</script>
</body>
</html>