<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/xterm.css">
    <script src="assets/js/bootstrap.bundle.min.js" type="application/javascript"></script>
    <script src="assets/js/vue.min.js" type="application/javascript"></script>
    <script src="assets/js/xterm.js" type="application/javascript"></script>
    <script src="assets/js/xterm-addon-fit.js" type="application/javascript"></script>
    <title>Zero Terminal</title>
</head>

<body>

    <div id="app">
        <div v-if="connectionList.length > 0" class="zt-main">
            <div class="row">
                <!-- 连接列表 -->
                <div class="col-md-3" style="height: 95vh; overflow: auto">
                    <div><button class="btn btn-primary" @click="createConnection" style="width: 100%; margin: 15px 0">创建连接</button></div>
                    <div class="zt-conn-main" v-for="conn in connectionList">
                        <span style="cursor: pointer;">{{ conn.name }}</span>
                        <span style="color: #0d6efd; margin-left: 10px; cursor: pointer;"
                            @click="editConnection(conn)">编辑</span>
                        <span style="color: red;  margin-left: 10px; cursor: pointer;"
                            @click="confirmDeleteConnection(conn)">删除</span>
                        <span style="color: #0d6efd; margin-left: 10px; cursor: pointer;"
                              @click="initTerminal(conn)">连接</span>
                    </div>
                </div>
                <!-- ssh 终端 -->
                <div id="terminal-container" class="col-md-9">
                    <ul class="nav nav-pills" style="margin: 10px 0;">
                        <li class="nav-item" v-for="tab in core.tabs" @click="showTerm(tab)">
                            <a class="nav-link" href="#" :class="{ 'active': tab.termId === core.activeId}">{{ tab.name }}</a>
                        </li>
                    </ul>
                    <div v-for="tab in core.tabs">
                        <div :id="tab.termId" v-show="tab.termId === core.activeId" style="height: 90vh;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="card center" style="width: 50%;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveSshConnection"
                @click="createConnection">
                创建 SSH 连接
            </button>
        </div>

        <!-- 弹出框, 创建/编辑 SSH 连接 -->
        <div class="modal modal-lg fade" id="saveSshConnection" tabindex="-1" aria-labelledby="saveSshConnectionLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="saveSshConnectionLabel">创建/编辑 SSH连接</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mt-2">
                            <label class="input-group-text" id="label-name" for="name">连接名称</label>
                            <input v-model="connection.name" type="text" class="form-control" id="name"
                                placeholder="连接名称默认为连接地址">
                        </div>
                        <div class="d-flex mt-2">
                            <div class="input-group">
                                <label class="input-group-text" id="label-address" for="address">连接地址</label>
                                <input v-model="connection.address" type="text" class="form-control" id="address"
                                    placeholder="请输入连接地址">
                            </div>
                            <div class="input-group">
                                <label class="input-group-text" id="label-port" for="port">端口</label>
                                <input v-model="connection.port" type="text" class="form-control" id="port"
                                    placeholder="端口号默认为 22">
                            </div>
                        </div>
                        <div class="input-group mt-2">
                            <label class="input-group-text" id="label-username" for="username">用户名称</label>
                            <input v-model="connection.username" type="text" class="form-control" id="username"
                                placeholder="请输入用户名">
                        </div>
                        <div class="input-group mt-2">
                            <label class="input-group-text" id="label-password" for="password">用户密码</label>
                            <input v-model="connection.password" type="password" class="form-control" id="password"
                                placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            @click="saveConnection">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 弹出框, 确认删除 -->
        <div class="modal fade" id="deleteSshConnection" tabindex="-1" aria-labelledby="deleteSshConnectionLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteSshConnectionLabel">确认删除么?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            @click="deleteConnection">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const { ipcRenderer } = require('electron');
        const { Client } = require('ssh2');

        new Vue({
            el: '#app',
            data: {
                connectionList: [],
                connection: {
                    identity: "",
                    name: "",
                    address: "",
                    port: "22",
                    username: "",
                    password: "",
                },
                core: {
                    index: 0,
                    activeId: "",
                    tabs: []
                },
            },
            mounted() {
            },
            created() {
                this.initConnections();
            },
            methods: {
                initConnections() {
                    ipcRenderer.invoke('getConnectionList').then((data) => {
                        if (data !== undefined) {
                            this.connectionList = data
                        }
                    });
                },
                initTerminal(connection) { // 初始化终端
                    // 激活ID
                    let activeId = "zero-term" + this.core.index;
                    this.core.activeId = activeId;
                    // 新增导航
                    this.core.tabs.push({
                        name: connection.name,
                        termId: activeId
                    });
                    // 最大 index 累加
                    this.core.index++;

                    // 在DOM创建后执行的代码
                    this.$nextTick(() => {
                        // 获取终端容器元素
                        // let terminalElem = document.getElementById('terminal-container');
                        let terminalElem = document.getElementById(activeId);

                        // 创建 xterm 终端实例并打开
                        let term = new Terminal();
                        term.open(terminalElem);

                        // 调整终端大小适应容器
                        const fitAddon = new FitAddon.FitAddon();
                        term.loadAddon(fitAddon);
                        fitAddon.fit();

                        let conn = new Client();
                        let channel;

                        // 连接成功时触发
                        conn.on('ready', () => {
                            console.log('SSH 连接已建立');
                            term.write(`Powered by [\x1b[36mZero Terminal\x1b[0m] \r\n \r\n`);

                            // 创建 SSH 通道
                            conn.shell(
                                // 启用伪终端
                                {
                                    term: 'xterm',
                                    rows: term.rows,
                                    cols: term.cols,
                                    usePty: true
                                },
                                (err, ch) => {
                                if (err) {
                                    console.error(err);
                                    term.writeln('创建 SSH 通道失败');
                                    // term.dispose();
                                    return;
                                }

                                channel = ch;

                                // 更新终端大小，以便 SSH 工具适应新的终端宽高
                                channel.setWindow(term.rows, term.cols);

                                // 将通道的数据发送到终端
                                channel.on('data', (data) => {
                                    term.write(data);
                                });

                                // 关闭 SSH 连接时关闭终端和通道
                                conn.on('close', () => {
                                    term.dispose();
                                    channel.close();
                                });
                            });

                            // 将终端的输出写入 SSH 通道
                            term.onData((data) => {
                                if (channel) {
                                    channel.write(data);
                                }
                            });
                        });

                        // 客户端错误时触发
                        conn.on('error', (err) => {
                            console.error('SSH 连接错误:', err);
                            term.write(`Powered by [\x1b[36mZero Terminal\x1b[0m] \r\n \r\n`);
                            term.writeln('SSH 连接错误');
                            // term.dispose();
                        });

                        // 连接 ssh
                        conn.connect({
                            host: connection.address,
                            port: connection.port,
                            username: connection.username,
                            password: connection.password
                        });

                        // 监听终端大小调整的事件
                        window.addEventListener('resize', () => {
                            fitAddon.fit();
                            // 获取调整后的终端宽高
                            const { rows, cols } = term;
                            // 发送宽高信息给 SSH 工具
                            channel.setWindow(rows, cols);
                        });
                    })
                },
                showTerm(tab) {
                    this.core.activeId = tab.termId
                },
                createConnection() { // 创建 SSH 连接时, connection 置空
                    let modal = new bootstrap.Modal(document.getElementById('saveSshConnection'));
                    modal.show();
                    this.connection = {
                        identity: "",
                        name: "",
                        address: "",
                        port: "22",
                        username: "",
                        password: "",
                    }
                },
                saveConnection() {
                    if (this.connection.name === "") {
                        this.connection.name = this.connection.address;
                    }
                    ipcRenderer.invoke('saveConnection', this.connection).then((res) => {
                        console.log(res)
                    }).catch(e => {
                        console.log(e)
                    });
                    this.initConnections();
                },
                confirmDeleteConnection(conn) {
                    this.connection.identity = conn.identity;
                    let modal = new bootstrap.Modal(document.getElementById('deleteSshConnection'));
                    modal.show();
                },
                editConnection(conn) {
                    this.connection = conn
                    let modal = new bootstrap.Modal(document.getElementById('saveSshConnection'));
                    modal.show();
                },
                deleteConnection() {
                    ipcRenderer.invoke('deleteConnection', this.connection).then((res) => {
                        console.log(res)
                    }).catch(e => {
                        console.log(e)
                    });
                    this.initConnections();
                },
            }
        })
    </script>
</body>

</html>